
.containerr{
    height: 40rem;
    width: 100%;
    display: flex;
}

.contentt{
    margin-left: 8%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}
Link{
       justify-content: left;
       margin: 0;
       align-items: left;
       text-align: left;
}
 .navBtns{
    height: fit-content;
    width: 100%;
    background-color: #1E2139;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
 }
 .buttons{
    width: 40%;
 }
 .btnn{
    width: 30%;
    margin-left: 3%;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
 }

 #eBtn{
   background-color: #F9FAFE;
   color: #7067d4;
 }
 #dBtn{
   background-color: #EC5757;
   color: #F9FAFE;
 }
 #mBtn{
   background-color: #7067d4;
 }

 .invoiceDetails{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    background-color: #1E2139;
   
 }
.companyDetails{
    height: 20%;
    width: 100%;
    background-color: #1E2139;
    display: flex;
    justify-content: space-between;
    
}

.companyInfo{
  width: 30%;
  height: 100%;
}
.campanyAddress{
  width: 30%;
  height: 100%;
}
.clientDetails{
    height: fit-content;
    width: 100%;
    display: flex;

}

.invoiceInfo{
    width: 25%;
    height: 100%;
}
.clientInfo{
    width: 35%;
    height: 100%;
}
.clienttEmail{
    width: 35%;
    height: 100%;
}

.productDetails{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

table, th, td {
    border:1px solid;
    border-collapse: collapse;
  }

  .table{
    height: 80%;
    width: 100%;
  }

  table{
    width: 100%;
    height: 100%;
  }

  .amountt{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }